.pieces {
  position: absolute;
  top: 0;
  left: 0;
}

.pieces .content {
  position: relative;
  display: grid;
  grid-template-rows: repeat(8, var(--tile-size));
  grid-template-columns: repeat(8, var(--tile-size));
  width: var(--board-size);
  height: var(--board-size);
}